<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div class="center-block text-center"> 
  <h1>Pocket Today's Skimm!</h1>
      <h1><%= link_to "click this button to Pocket all the articles in today's Skimm", add_path %></h1>
    <h3>"Note: a new skimm becomes available every morning at 6am EST"</h3>
    <h2><a href="http://www.theskimm.com/recent" target="_blank">Today's Skimm</a></h2>
    <img src="/assets/pocketskimm.png">
  </div>
  


</body>
</html>


