<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div class="center-block text-center"> 
  <h1>Welcome to Pocket theSkimm!</h1>
  <br>
      <h2>Step 1: <%= link_to 'Sign in with Pocket', '/auth/pocket/connect'%></h2>
      <h2>Step 2: <%= link_to "click here to Pocket all of the articles in today's Skimm", add_path %></h2>
    <h4>* Note: a new Skimm becomes available every morning at 6am EST *</h4>
    <!-- <h2><a href="http://www.theskimm.com/recent" target="_blank">Today's Skimm</a></h2> -->
    <br>
    <img src="/assets/pocketskimm.png">
  </div>
  


</body>
</html>


