<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Pocket Today's theSkimm!</h1>
    <h2>click this button to Pocket all the articles on today's Skimm</h2>
    <button type="button">Pocket today's Skimm</button>
    <%= link_to 'connect', '/auth/pocket/connect'%>
</body>
</html>

<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->